<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net45" />
  <package id="XSockets" version="3.0.2" targetFramework="net45" />
  <package id="XSockets.Core" version="3.0.2" targetFramework="net45" />
  <package id="XSockets.JsApi" version="2.9.0" targetFramework="net45" />
  <package id="XSockets.Plugin.Framework" version="1.1.0" targetFramework="net45" />
  <package id="XSockets.Server" version="3.0.2" targetFramework="net45" />
</packages>